<!--<ion-view title="我的足迹" id="page1">-->
  <!--<ion-nav-buttons side="left" class="has-header">-->
    <!--<a class="button button-icon icon ion-ios-paw" ui-sref="page2"></a>-->
  <!--</ion-nav-buttons>-->
  <!--<ion-nav-buttons side="right" class="has-header">-->
    <!--<button class="button button-icon icon ion-gear-b" ng-click="onTrack()"></button>-->
  <!--</ion-nav-buttons>-->
  <ion-content padding="true" class="has-header">
    <!--<form id="page1-form1" class="list">-->
      <!--<label class="item item-input" id="page1-search1">-->
        <!--<i class="icon ion-search placeholder-icon"></i>-->
        <!--<input type="search" placeholder="">-->
      <!--</label>-->
    <!--</form>-->
    <button id="getPosition" class="button button-positive button-block">我的位置</button>
    　　  <div id="allmap"  style="width: 100%;height: 600px;overflow: hidden;margin:0;position:absolute;z-index:10001"></div>　　　　　
  </ion-content>
<!--</ion-view>-->