<ion-view title="设置" id="page4">
  <ion-nav-buttons side="left" class="has-header">
    <!--<button class="button button-icon icon ion-ios-arrow-left"></button>-->
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="page4-form2" class="list">
      <ion-toggle toggle-class="toggle-positive" id="page4-toggle1">自动同步足迹</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="page4-toggle2">Toggle</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="page4-toggle3">Toggle</ion-toggle>
    </form>
    <button id="page4-button10" class="button button-positive button-block">清空所有足迹</button>
  </ion-content>
</ion-view>